<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DictionMaster.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SWXMLHashPlayground (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SWXMLHashPlayground (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SWXMLHashPlayground (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8593CF492B6DE7AE00613B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8593CF502B6DE7AE00613B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85EC02802B6DCF3A003B0206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85EC02902B6DCF3C003B0206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85EC029A2B6DCF3C003B0206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85EC02D82B6DDBCE003B0206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
